### list

In [10]:
cars = ['toyota','honda','benz']

In [11]:
cars.append('nissan') # เป็นการเพิ่มค่าลงไปใน list
print(cars)

['toyota', 'honda', 'benz', 'nissan']

In [12]:
cars.remove('honda') # เป็นการลบค่าใน list 
print(cars)

['toyota', 'benz', 'nissan']

In [13]:
cars.insert(0,'tesla') # เป็นการเพิ่มข้อมูลใน list แบบระบุตำแหน่ง
print(cars)

['tesla', 'toyota', 'benz', 'nissan']

In [14]:
print(cars[1]) # เป็นการแสดงข้อมูลแบบระบุตำแหน่ง
print(cars[0])

toyota
tesla

In [15]:
for c in cars:
    print(c)
## เป็นการแสดงผลออกมาที่ละบรรทัด

tesla
toyota
benz
nissan

In [16]:
print(*cars) # แสดงผลให้อยู่ในบรรทัดเดียวไม่ต้องมีอะไรมาคั่น

tesla toyota benz nissan

In [17]:
for i,c in enumerate(cars):
    print(i,c)
### enumerate เป็นการทำลำดับให้ list

0 tesla
1 toyota
2 benz
3 nissan

In [18]:
for i,c in enumerate(cars,start=1):
    print(i,c)
### enumerate เป็นการทำลำดับให้ list และให้ลำดับเริ่มต้นที่เลข 1

1 tesla
2 toyota
3 benz
4 nissan

In [20]:
for i,c in enumerate(cars,start=1):
    print('ลำดับที่ {} {}'.format(i,c))
### เป็นการใส่ลำดับที่ใน list

ลำดับที่ 1 tesla
ลำดับที่ 2 toyota
ลำดับที่ 3 benz
ลำดับที่ 4 nissan

In [21]:
cars[1] = 'isuzu' # เป็นการแทนค่าใน list
print(cars)

['tesla', 'isuzu', 'benz', 'nissan']

In [22]:
del cars[2] # เป็นการลบ list
print(cars)

['tesla', 'isuzu', 'nissan']

In [ ]:
size = int(input())
if size <= 34:
    print("XS")
elif size <= 36:
    print("s")
elif size <= 38:
    print("M")
elif size <= 40:
    print("L")
else:
    print("XL")

In [ ]:
size = int(input())

In [ ]:
if size <= 34:
    print("XS")
elif size <= 36:
    print("s")
elif size <= 38:
    print("M")
elif size <= 40:
    print("L")
else:
    print("XL")